
.contact{
    background-image: url('../../../../assets/Vec.png');
    margin-top: -250px;
    padding-top: 400px !important;
    height: 190vh;
    
}
.contact-text{
  text-align: center; 
  color: rgba(115, 114, 121, 1);
  font-size: 50px;
  margin-bottom: 30px;
}
.contact-details{
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    border: 1px solid rgba(115, 114, 121, 1);
    border-radius: 20px;
    margin-top: 20px;
  }
  .contact-form {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
  }

  .textArea{
    width: 580px;
    border-style: none;
    background-color:rgb(224, 223, 223);
    border-radius: 0px;
  }

  .contact-container{
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 25px;
  }

  .heading-contact{
    font-size: 60px !important;

  }
  .paragraph-contact{
    font-size: 20px;
    text-align: left;
    width: 500px;
  }
  
  .contact-secondary h2 {
    font-weight: 500;
    font-size: 30px;
    padding-top: 20px;
}

@media (max-width: 768px) {
  .contact-form {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: none;
  }
  .contact-details{
    border: 1px solid #ddd;
    margin-bottom: 20px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-style: none;
  }
  .textArea{
    width: 500px;
    border-style: none;
    background-color:rgba(247, 247, 247, 1);
    border-radius: 0px;
  }
  .contact{
    margin-top: -250px;
    padding-top: 200px;
    height: 130vh;
    background-image: none;
    
}

}