.request-card {
  height: 430px;
  width: 350px !important; /* Fixed width */
  border: 1px solid black;
  border-radius: 20px;
  display: inline-block; /* Ensures each card stays in a row */
  vertical-align: top; /* Aligns the cards at the top */
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 30px;
  text-align: center;
  min-width: 350px;
}
.follow-head {
  margin-left: 300px;
  margin-top: 200px;
}

.card-image-work {
  height: 200px !important;
  width: 200px;
  border-radius: 50%;
}

.card-body-request {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  overflow: hidden; /* Ensures content does not overflow */
}

.follow-button {
  width: 200px;
  height: 40px;
  text-align: center;
}
.button-follow {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  text-align: center;
}

.card-flow {
  display: flex;
  flex-direction: row;
  gap: 100px;
  overflow-x: auto;
  padding: 20px;
  white-space: nowrap;
  scroll-behavior: smooth;
  transition: all 0.3s ease-in-out;
}

.card-flow::-webkit-scrollbar {
  display: none;
}

.card-flow {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* profileRequestCard.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1040; /* Ensure modal overlay is above other elements */
  width: 100vw;
}

.modal-content-request {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100vw !important;
  max-width: 100vw;
  max-height: 98vh;
  overflow-y: auto;
  position: relative;
  z-index: 1041;
  box-sizing: border-box;
  margin: 10px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 1042;
  color: gray; /* Ensure close button is above the modal content */
}
.close {
  margin-top: 20px;
}
.image-view {
  border: 1px solid black;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin-left: 250px;
}
.view-image-set {
  height: 100%;
  margin-top: 50px;
}
.view-head {
  background-color: rgba(0, 96, 255, 1);
  width: 600px;
  height: 80px;
  color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: end;
  justify-content: start;
  padding-left: 50px;
  margin-top: 80px;
}
.view-left {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
}
.secondRow {
  display: flex !important;
  align-items: start !important;
  flex-direction: column !important;
  justify-content: start !important;
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
}
.secondRow p {
  font-size: 30px;
}
.botton-view-row {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 50px;
}
.view-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.profile-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image img {
  border-radius: 50%;
  object-fit: contain;
  object-position: bottom;
}

.user-details {
  text-align: center;
}
.height-view {
  height: 90vh;
}
@media (min-width: 768px) {
  .modal-content {
    margin-top: 100px; /* Adjust according to the height of your navbar */
  }
}

@media (max-width: 768px) {
  .modal-content {
    margin-top: 150px; /* Adjust according to the height of your navbar */
  }
}
