/* ChatComponent CSS */

.container-chat {
  height: max-content;
  margin: 0;
  border: 0.5px solid gray;
}

.chat-sidebar {
  height: 100%;
  border-right: 0.5px solid gray;
}

.chat-main {
  height: 100%;
}
.chat-main-section {
  display: flex;
  flex-direction: column;
}
.chat-section-color {
  background-color: rgb(223, 223, 223);
  border-radius: 10px;
}
.chat-section {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 50px;
  height: 80px;
}
.chat-sidebar {
  padding: 15px;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  text-align: center;
}

.chat-main {
  padding: 15px;
}

.chat-section {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chat-message-sender {
  background-color: #e0f7fa;
}

.chat-message-receiver {
  background-color: #f1f8e9;
}

.offcanvas-body {
  padding: 0;
}

.offcanvas.show {
  visibility: visible;
  transform: translateX(0);
  width: 80%;
  height: 100%;
}

.offcanvas {
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.btn-close {
  margin-left: auto;
}

.offcanvas.show {
  visibility: visible;
  transform: translateX(0);
  width: 80%;
  height: 100%;
}

.offcanvas {
  visibility: hidden;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.btn-close {
  float: right;
}
